## Node / Angular
node_modules/
Frontend/dist/
Frontend/.angular/
Frontend/coverage/

## .NET
bin/
obj/
Backend/**/bin/
Backend/**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.db
*.db-shm
*.db-wal
appsettings.*.local.json
TestResults/
*.log
.idea/
*.DotSettings.user
